.container{
    margin: 0;
}

.container .swiper {
    width: 80vw;
    height: 30vh;
}

.slide-imagem {
    width: 100vw;
    object-fit: cover;
}

.container .swiper-slide{
    display: flex;
    justify-content: center;
}

.container .swiper-pagination-bullet-active{
    background-color: antiquewhite;
}

.container .swiper-button-prev {
    color: #DB5413;
}

.container .swiper-button-next{
    color: #DB5413;
}